<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Update Password</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar('User')"></nav>

<div class="container">
  <div class="card m-4 p-4">
    <div class="justify-content-center">
      <h2>Form Ubah Password</h2>
      <br>
      <form th:action="@{/user/update-password}" method="POST">
        <label>Password Lama</label>
        <input type="password" name="oldPassword" class="form-control">
        <label>Password Baru</label>
        <input type="password" name="newPassword" class="form-control">
        <label>Konfirmasi Password Baru</label>
        <input type="password" name="newPasswordConfirmation" class="form-control">
        <br>
        <button type="submit" class="btn btn-primary">Simpan</button>

        <br><br>
        <h4 th:text="${notif}"></h4>
        <a class="btn btn-link" href="/">Home</a>
      </form>
    </div>
  </div>
</div>
</body>
</html>